// ToggleButton.scss
.toggle-button {
  display: flex;
  background-color: #ccc;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 24px;
  padding: 2px;
  position: relative;
  width: 48px;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .toggle-thumb {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    transition:
            left 0.3s ease,
            background-color 0.3s ease;
    width: 20px;
    left: 2px;
  }

  &.active {
    background-color: var(--link);

    .toggle-thumb {
      left: 26px;
    }
  }
}
