@import "./colors";

html[data-theme=light] {
@include theme-colors($colors-l);
}

html[data-theme=dark] {
@include theme-colors($colors-d);
}


:root {
  @include theme-colors($colors-l);
  //color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    @include theme-colors($colors-d);
//  }
//}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 2560px;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text);
  background-color: var(--button-background);
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: var(--button-hover);
  }
  &:focus {
    outline-color: var(--hover);
    box-shadow: none;
  }
}

